*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

html{
  font-size:10px;
  font-family:'Open Sans', sans-serif; // any font family goes here
}

a{
  text-decoration:none;
}

button{
  background:#eee;
  border:none;
}
body{font-size: 1.4rem}


.container{
  width:960px;
  max-width:95%;
  margin:0 auto;
}

.lg-container{
  @extend .container;
  width:1170px;
  padding:0 15px;
}

.p-left{
	float: left;
}

.p-right{
	float: right;
}


.clearfix{clear:both;}